// ============================================================ //
// Colours //
// ============================================================ //

$primary: #EE6E73;
$secondary: #303030;
$background: #EFEFEF;
$wrap-background: #FEFEFE;